@import "blog";
@import "markdown";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Outfit, sans-serif;
}

main {
  min-height: 100vh;
}

img {
  object-fit: cover;
}
