@import "blog";
@import "markdown";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Outfit Variable';
}

main {
  min-height: 100vh;
}

img {
  object-fit: cover;
}